{% extends "main.html" %}

{% block content %}

<div class="row justify-content-center">

    <div class="row col-md-12 justify-content-center mt-1">

        <div class="col-md-12 justify-content-center text-center">
            <img src="" width="50" alt="">
        </div>
        <div class="col-md-12 text-center">
            <h1>Create New User</h1>
        </div>
    </div>
    <div class="row col-md-12 justify-content-center text-center">
            <div class="col-md-6 col-sm-12">
                {% if new_userid is not None %}
                <div class="modal fade" id="staticBackdrop"  data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                      A new user has been created.
                    </div>
                </div>
              </div>
            </div>
                {% endif %}
            </div>
        </div>


    <div class="col-md-6 col-sm-12">
        <form method="post" action="">
             {% csrf_token %}

            <div class="form-group">
                <label for="username">Username<span class="link-danger">*</span></label>
                <input type="text" class="form-control" name="username" aria-describedby="usernameHelp" required="" id="username">
                <p class="text-error text-danger">
                    {% if form.username.errors %}
                        {{ form.username.errors.as_text }}
                    {% endif %}
                </p>
            </div>

             <div class="form-group">
                <label for="name">User Full Name<span class="link-danger">*</span></label>
                <input type="text" class="form-control" name="name" aria-describedby="nameHelp" required="" id="name">
                <p class="text-error text-danger">
                    {% if form.name.errors %}
                        {{ form.name.errors.as_text }}
                    {% endif %}
                </p>
            </div>
            <div class="form-group">
                <label for="email">User Email<span class="link-danger">*</span></label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required="" id="email">
                <p class="text-error text-danger">
                    {% if form.email.errors %}
                        {{ form.email.errors.as_text }}
                    {% endif %}
                </p>
            </div>
            <div class="form-group">
                <label for="password">User Password<span class="link-danger">*</span></label>
                <input type="password" class="form-control" name="password" required="" id="password" aria-describedby="passwordHelp">
                <p class="text-error text-danger">
                    {% if form.password.errors %}
                        {{ form.password.errors.as_text }}
                    {% endif %}
                </p>
            </div>
            <div class="form-group">
                <label for="type">User Type<span class="link-danger">*</span></label>
                <select class="form-control" id="type" name="type">
                  <option value="">Select User Type</option>
                  <option value="Admin">Admin</option>
                  <option value="Standard User">Standard User</option>
            </select>
            <p class="text-error text-danger">
                    {% if form.type.errors %}
                        {{ form.type.errors.as_text }}
                    {% endif %}
                </p>
        </div>
<!--            <div class="form-group">-->
<!--                <button type="button" class="btn btn-primary">Capture Image </button>-->
<!--            </div>-->
<!--            <p class="text-center">OR</p>-->

<!--           <div class="form-group">-->
<!--            <label for="upload">Upload Image</label>-->
<!--            <input type="file" class="form-control form-control-file" id="upload">-->
<!--          </div>-->
<!--            <br>-->
<!--            <div class="d-grid gap-2">-->
            <button type="submit" class="btn btn-danger btn-block">Create</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#staticBackdrop').modal('show');
   });

</script>
{% endblock %}