{% extends "main.html" %}

{% block content %}

    <div class="container mt-5">
<!--        <div class="d-flex justify-content-end">-->
<!--            <button type="button" class="btn btn-primary">Train my image</button>-->
<!--        </div>-->
        <div class="row col-md-12 justify-content-center text-center">
            <div class="col-md-6 col-sm-12">
                {% if update  %}
                <input type="hidden" name="updated" value="1" data-href="{{ request.get_full_path }}">
                <div class="modal fade" id="staticBackdrop"  data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                      A Profile has been updated.
                    </div>
                </div>
              </div>
            </div>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">
                    <h1 class="text-center">Update Profile</h1>
            <div class="col-md-9">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" aria-describedby="usernameHelp"  id="username" value="{{ profile_obj.username }}">
                <p class="text-error text-danger">
                    {% if form.username.errors %}
                        {{ form.username.errors }}
                    {% endif %}
                </p>
            </div>

             <div class="form-group">
                <label for="name">User Full Name</label>
                <input type="text" class="form-control" name="name" aria-describedby="nameHelp"  id="name" value="{{ profile_obj.name }}">
                <p class="text-error text-danger">
                    {% if form.name.errors %}
                        {{ form.name.errors }}
                    {% endif %}
                </p>
            </div>
            <div class="form-group">
                <label for="password">User Password</label>
                <input type="password" class="form-control" name="password"  id="password" aria-describedby="passwordHelp">
                <p class="text-error text-danger">
                    {% if form.password.errors %}
                        {{ form.password.errors }}
                    {% endif %}
                </p>
            </div>
            <div class="form-group">
                <label for="type">User Type</label>
                <select class="form-control" id="type" name="type">
                    {% if profile_obj.type == 'Admin' %}
                         <option value="Admin">Admin</option>
                  <option value="Standard User">Standard User</option>
                    {% else %}
                      <option value="Standard User">Standard User</option>
                        <option value="Admin">Admin</option>
                    {% endif %}

            </select>
            <p class="text-error text-danger">
                    {% if form.type.errors %}
                        {{ form.type.errors }}
                    {% endif %}
                </p>
        </div>

                    <input class="btn btn-primary" type="submit" name="Update" value="update">
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function() {
        $('#staticBackdrop').modal('show');
        var updated = $('input[name=updated]').val();
        if (updated != undefined) {
            href = $('input[name=updated]').attr('data-href');
            console.log(href)
            reload(href);
        }
        function reload(href) {
            setTimeout(function(){ window.location.href=href}, 3000);
        }
   });

</script>
{% endblock %}