{% extends "main.html" %}
{% load static %}
{% block content %}
        <div class="container mt-5">
    <div class="row">
        <div class="col col-md-3 p-3">
            <div class="card bg-primary text-light shadow" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">Total Users</h5>
                    <h6 class="card-subtitle ">
                        <h1 class="">{{ total_user }}</h1>
                    </h6>
                </div>
            </div>
        </div>
    <div>

        <div class="container">
    <div class="d-flex mt-4">
        <h3 class="fs-3 text-capitalize lead">Attendance List of All Users</h3>
    </div>
    <hr>
    <div class="row my-4 card shadow">
        <div class="col card-body">
            <table class="table table-striped" id="AttendanceListingTable">
                <thead>
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Name</th>
                        <th scope="col">Marked In</th>
                        <th scope="col">Marked Out</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>

                    {% for k,v in final_obj.items %}
                    {% for obj in v.values %}
                     <tr>
                        <th scope="row">{{ obj.day }}</th>
                        <td>{{ k }}</td>
                        <td><b>{{ obj.marked_at }}</b></td>
                        <td><b>{{ obj.marked_out }}</b></td>
                        <td class="lead">{{ obj.status }}</td>
                    </tr>
                    {% endfor %}
                    {% empty %}
                    <tr class="mt-5">
                        <td colspan="7" align="center">
                            <p>No Attendance found</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
    </div>
</div>


{% endblock %}


{% block scripts %}
<script>
        $(document).ready(function() {
                $('#AttendanceListingTable').DataTable();
        });
</script>
{% endblock %}