{% extends "main.html" %}
{% load static %}
{% block content %}
        <div class="container mt-5">
    <div class="row">
        <div class="col col-md-3 p-3">
            <div class="card bg-primary text-light shadow" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">Day Joined</h5>
                    <h6 class="card-subtitle ">
                        <h1 class="">{{ joined_on|date:"d F Y" }}</h1>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col col-md-3 p-3">
            <div class="card bg-primary text-light shadow" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">Total Attendance</h5>
                    <h6 class="card-subtitle ">
                        <h1 class="">{{ total_attendance }}</h1>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col col-md-3 p-3">
            <div class="card bg-primary text-light shadow" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">Total Present</h5>
                    <h6 class="card-subtitle ">
                        <h1 class="">{{ total_present }}</h1>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col col-md-3 p-3">
            <div class="card  bg-primary text-light shadow" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">Total Absent</h5>
                    <h6 class="card-subtitle">
                        <h1 class="">{{ total_absent }}</h1>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div>

        <div class="container">
    <div class="d-flex mt-4">
        <h3 class="fs-3 text-capitalize lead">Attendance List of {{ profile_username }}</h3>
    </div>
    <hr>
    <div class="row my-4 card shadow">
        <div class="col card-body">
            <table class="table table-striped" id="AttendanceListingTable">
                <thead>
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Name</th>
                        <th scope="col">Marked In</th>
                        <th scope="col">Marked Out</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>

                    {% for obj in atte_obj.values %}
                     <tr>
                        <th scope="row">{{ obj.day }}</th>
                        <td>{{ name }}</td>
                        <td><b>{{ obj.marked_at }}</b></td>
                        <td><b>{{ obj.marked_out }}</b></td>
                        <td class="lead">{{ obj.status }}</td>
                    </tr>
                    {% empty %}
                    <tr class="mt-5">
                        <td colspan="7" align="center">
                            <p>No Attendance found</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script>
        $(document).ready(function() {
                $('#AttendanceListingTable').DataTable();
        });
</script>
{% endblock %}