{% extends "main.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/markin.png' %}" class="card-img-top" alt="Mark My attendance" height="230">
            <div class="card-body text-center">
                <button id="mark-my-attd" class="btn btn-success">Mark My attendance</button>
  </div>
        </div>
        </div>
        <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/markout.jpg' %}" class="card-img-top" alt="Mark out attendance" height="230">
            <!-- Button trigger modal -->
            <div class="card-body text-center">
                <button id="mark-out-attd" type="button" class="btn btn-success">Mark out my attendance</button>
  </div>
        </div>
        </div>

        <div class="col-3">
      <div class="card" style="width: 18rem;">
          <img src="{% static 'img/attendance.jpg' %}" class="card-img-top" alt="records" height="230">
          <div class="card-body text-center">
            <a href="{% url 'dashboard:attendance-history' username=username %}" class="btn btn-success">Attendance History</a>
          </div>
      </div>
    </div>

        <div class="col-3">
      <div class="card" style="width: 18rem;">
          <img src="{% static 'img/upload.png' %}" class="card-img-top" alt="records" height="230">
          <div class="card-body text-center">
            <a href="{% url 'accounts:dataset' pk=userid.id %}" class="btn btn-success">Upload Dataset</a>
          </div>
      </div>
    </div>
    </div>
    <hr>
    {% if permission %}
    <div class="row mt-5 mb-5">
    <div class="col-3">
      <div class="card" style="width: 18rem;">
          <img src="{% static 'img/all_attendance.png' %}" class="card-img-top" alt="records" height="230">
          <div class="card-body text-center">
            <a href="{% url 'dashboard:all-attendance-history' %}" class="btn btn-success">All Attendance History</a>
          </div>
      </div>
    </div>

   <div class="col-3">
      <div class="card" style="width: 18rem;">
          <img src="{% static 'img/training3.jpg' %}" class="card-img-bottom" alt="Train Image Classifier" height="230">
          <div class="card-body text-center">
            <a href="{% url 'dashboard:training' %}" class="btn btn-success">Train Image Classifier</a>
          </div>
      </div>
    </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
         $("#mark-my-attd").click(function() {
             document.getElementById('mark-my-attd').disabled=true;
             let url = "http://127.0.0.1:8000/markattendance/";
                fetch(url,  {
                    method : 'get',
                 }).then(response => response.json())
                 .then(data => {
                        document.getElementById('mark-my-attd').disabled=false;
                        if (data['status'] == 00) { alert('camera not found'); location.reload();  }
                        if (data['status'] == 10) { alert('Application has been closed'); location.reload();  }
                        if (data['status'] == 11) { alert(data['msg']); location.reload();  }
                 });
         });

         $("#mark-out-attd").click(function() {
            document.getElementById('mark-out-attd').disabled=true;
             let url = "http://127.0.0.1:8000/markoutattendance/";
                fetch(url,  {
                    method : 'get',
                 }).then(response => response.json())
                 .then(data => {
                        document.getElementById('mark-out-attd').disabled=false;
                        if (data['status'] == 00) { alert('camera not found'); location.reload();  }
                        if (data['status'] == 10) { alert('Application has been closed'); location.reload();  }
                        if (data['status'] == 11) { alert(data['msg']); location.reload();  }
                 });
         });

    });

</script>
{% endblock %}